{% extends "layout.html" %}
{% block main %}

<h1>Add your questions</h1>
<form>
  <label for="question">Enter question: </label>
  <input type="text" id="question" name="question"><br><br>
  <label for="ans">Answer: </label>
  <input type="text" id="ans" name="ans"><br><br>
  
  <p>Enter the type of mathematics field : </p>
  		<label for="maths">Choose an option :</label>
  		<select name="maths" id="maths">
    		<option value="cal">Calculus</option>
    		<option value="set">Sets</option>
    		<option value="prob">Probability</option>
  		<option value="equ">Equations</option>
  		</select>
  		<br><br>
  	
  		<label for="level">Choose the difficulty level :</label>
  		<select name="level" id="level">
    		<option value="e">Easy</option>
    		<option value="m">Medium</option>
    		<option value="h">Hard</option>
  		</select>
  		<br><br>
  		<input type="submit" value="Submit">
</form>

  


{% endblock %}