{% extends "layout.html" %}
{% block main %}

<script>
    setKey('{{API_KEY}}','{{Device_ID}}');
    function timeit(lim) {
        setTimeout(function() {
        digitalWrite(0,'HIGH') }, lim*1000);
        setTimeout(function() {
        digitalWrite(0,'LOW')  }, lim*1000+2000);
    }
    function printit2() {
        console.log("Hey");
    }
</script>
<section class="section" id="/">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="left-text-content">
                <div class="section-heading">
                    <h2>You can choose a question and try to solve it in the time-limit provided.</h2>
                </div>           
                </div>
            </div>
        </div>
       
    </div>
</div>
</section>

<section class="section" id="features">
<div class="container">

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
            <div class="features-item">
                
                <div class="features-content">
                    <div class="badge badge-secondary text-wrap" style="width: 6rem;">
                         <h4>Difficulty</h4>
                      </div>
                    <p class="text-monospace">Choose your preferred difficulty level</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
            <div class="features-item">
                <div class="features-icon">
                  
                </div>
                <div class="features-content">
                    <div class="badge badge-secondary text-wrap" style="width: 6rem;">
                        <h4>Topic</h4>
                     </div>
                    <p class="text-monospace">Choose the branch under mathematics for the question</p>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
            <div class="features-item">
                <div class="features-icon">
                    
                </div>
                <div class="features-content">
                    <div class="badge badge-secondary text-wrap" style="width: 6rem;">
                        <h4>Time</h4>
                     </div>
                    <p class="text-monospace">Solve the question in the assigned time-limit</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<span class="d-block p-2 bg-primary text-white">Are you ready for Math-me-Up?</span>
<br/><br/><br/><br/><br/>

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="section-heading">
            <center>
            <form method="post" action = "/">
                <h2 class="text-warning">Choose your preffered difficulty level</h2>
                <select class="form-control" id="exampleFormControlSelect1" name="difficulty">
                    <option value="Easy">Easy</option>
                    <option value="Moderate">Moderate</option>
                    <option value="Difficult">Difficult</option>
                  </select>
                <h2 class="text-warning">Choose the topic </h2>
                <select class="form-control" id="exampleFormControlSelect1" name="topic">
                    <option value="Arithmetic">Arithmetic</option>
                    <option value="Algebra">Algebra</option>
                    <option value="Trigonometry">Trigonometry</option>
                    <option value="Calculus">Calculus</option>
                    <option value="Geometry">Geometry</option>
                </select>
                </div>
                <br/><br/>
                <center><button type="submit" class="btn btn-success">Apply</button></center>
                </form>
                </center>
            </div>         
        </div>
    </div>
</div>
<br/><br/><br/><br/><br/><br/><br/>

<span class="d-block p-2 bg-dark text-white">Answer the questions within the assigned time</span>
<br/><br/>
<hr/>
<br/><br/>
<section class="section" id="questions">
    <div class="section-heading">
        <center><h2 style="color: cornflowerblue;">Questions</h2></center>
    </div>
<br/><br/>   
<div class="container">
    {% if Qndata %}
    {% for qtn in Qndata %}
    <div class="row">
            <div class="card">
                <div class="card-body">
                <p style="font-size: 40px">{{qtn["qn"]}}</p>
                <p style="font-size: 15px" id="tl">{{qtn["timelimit"]}}</p>
                <button class="btn btn-success" onclick="timeit('{{qtn["timelimit"]}}')">Attempt</button>            
                </div>  
            </div>    
    </div>
    {% endfor %}
    {% else %}
    <p>No questions for Ya!</p>
    {% endif %}
</div>
</section>

{% endblock %}