{% extends "layout.html" %}
{% block main %}

<section class="section" id="about">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="left-text-content">
                <div class="section-heading">
                    <h2>You will be qiven a question.Your objective will be to solve the question assigned to you in the given amount of time</h2>
                </div>           
                </div>
            </div>
        </div>
       
    </div>
</div>
</section>

<section class="section" id="features">
<div class="container">

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
            <div class="features-item">
                <div class="features-icon">
                 
                </div>
                <div class="features-content">
                    <h4>Difficulty</h4>
                    <p>Choose your difficulty level</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
            <div class="features-item">
                <div class="features-icon">
                  
                </div>
                <div class="features-content">
                    <h4>Type</h4>
                    <p>Choose the area under mathematics where you want the question</p>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
            <div class="features-item">
                <div class="features-icon">
                    
                </div>
                <div class="features-content">
                    <h4>Time</h4>
                    <p>Solve the problem in the assigned time</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="section" id="subscribe">
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="section-heading">
             
                <h2>Choose your preffered difficulty level and the topic </h2>
    <form>
          <input type="radio" id="e" name="easy" >
          <label for="e">EASY</label><br>
          <input type="radio" id="m" name="medium">
          <label for="m">MEDIUM</label><br>
          <input type="radio" id="h" name="hard">
          <label for="h">HARD</label>
    </form> 

            </div>
            
        </div>
    </div>
</div>
</section>

<section class="section" id="projects">
<div class="container">
<div class="row">
    <div class="col-lg-3">
        <div class="section-heading">
           
            <h2>Questions : </h2>
        </div>
        
    
    </div>
</div>
</div>
</section>

{% endblock %}