<!DOCTYPE html>
<html lang="en">

  <head>

    
    <title>Hackarithmetic</title>


    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/templatemo-breezed.css">
    <link rel="stylesheet" href="/static/css/owl-carousel.css">
    <link rel="stylesheet" href="/static/css/lightbox.css">

    </head>
    
    <body>
    
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    
    
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="index.html" class="logo">
              
                        </a>
                       
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#projects">Problems</a></li>
                            
                        
                        </ul>        
         
                    </nav>
                </div>
            </div>
        </div>
	
    </header>
    <div class="item">
            <div class="img-fill">
                <img src="/static/images/slide-02.jpg" alt="">
                <div class="text-content">
                  <h2>Hackarithmetic</h2>
                  <h1>Mathematics Questionnare</h1>
                
                </div>
            </div>
          </div>
          
         
        </div>
    </div>
    
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h2>You will be qiven a question.Your objective will be to solve the question assigned to you in the given amount of time</h2>
                        </div>
                        
                       
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
 
    <section class="section" id="features">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                         
                        </div>
                        <div class="features-content">
                            <h4>Difficulty</h4>
                            <p>Choose your difficulty level</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                          
                        </div>
                        <div class="features-content">
                            <h4>Type</h4>
                            <p>Choose the area under mathematics where you want the question</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            
                        </div>
                        <div class="features-content">
                            <h4>Time</h4>
                            <p>Solve the problem in the assigned time</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <section class="section" id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                     
                        <h2>Choose your preffered difficulty level and the topic </h2>
			<form>
  				<input type="radio" id="e" name="easy" >
  				<label for="e">EASY</label><br>
  				<input type="radio" id="m" name="medium">
  				<label for="m">MEDIUM</label><br>
  				<input type="radio" id="h" name="hard">
  				<label for="h">HARD</label>
			</form> 

                    </div>
                    
                </div>
            </div>
        </div>
    </section>
   
    <section class="section" id="projects">
      <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                   
                    <h2>Questions : </h2>
                </div>
                
            
            </div>
        </div>
      </div>
    </section>

    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                    
                        <h2>Maths fact coming up!!</h2>
                 
           
                
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
				
                        <p>Exclusive project made by Abel and Athul for hackarithmetic</p>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
    

   
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script> 
    <script src="/static/js/slick.js"></script> 
    <script src="/static/js/lightbox.js"></script> 
    <script src="/static/js/isotope.js"></script> 
    
    
    <script src="/static/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>